* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.calculator {
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 12px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    text-align: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 25px;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;

    background-color: #333;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}