* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    margin-bottom: 25px;
}

.profile-card {
    width: 320px;
    background-color: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    text-align: center;
}

.profile-image {
    width: 140px;
    height: 140px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 20px;
}

.profile-card h1 {
    font-size: 24px;
    margin-bottom: 12px;
}

.profile-card p {
    color: #555;
    line-height: 1.5;
}